.page.careers {
  .section__title {
    margin-top: 50px;
  }
  .content {
    padding: 25px 0 50px;
    .item {
      width: 70vw;
      margin: auto;
      button {
        text-align: left;
        width: 100%;
        background: #f9f9f9;
        border: none;
        padding: 30px;
        margin: 10px;
        font-size: 24px;
        font-weight: 300;
        letter-spacing: .7px;
        color: #4f5075;
        text-transform: uppercase;
      }

      .description {
        overflow: hidden;
        transition: max-height 1s;
        max-height: 0;

        &.opened {
          max-height: 500px;
        }
      }
    }
  }
}
