body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.box-width {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
}
.box-width-x {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
.menu, .menu ul {
  max-width: 430px;
  width: 100%;
}
.menu ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.menu ul li {
  width: 100%;
  text-align: center;
}
.menu ul li a {
  font-weight: 400;
  color: #391c1d;
  font-size: 16px;
  padding-bottom: 15px;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
}
.menu .active_menu{
  padding-bottom: 11px;
  border-bottom: 4px solid #219ed6;
}
.head_line {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.sign_search a:first-child {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-decoration: none;
  display: block;
}
.sign_search {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  padding-bottom: 15px;
  align-items: center;
  max-width: 125px;
  width: 100%;
}
/*header end*/
/*footer begin*/

footer {
  border-top: 6px solid #f7f7f7;
  padding-top: 27px;
  padding-bottom: 56px;
}

.foot_logo {
  filter: grayscale(100%);
  opacity: .25;
}
.foot_col:first-child {
  max-width: 300px;
  width: 100%;
}
.foot_col p {
  text-transform: uppercase;
  font-size: 16px;
  color: #5b5b5b;
  margin-bottom: 15px;
  font-weight:100;
}
.foot_col ul {
  height: 90px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-around;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.foot_col a {
  color: #386c91;
  text-decoration: none;
  font-weight: 100;
  display: block;
}
.foot_col:nth-child(2) {
  max-width: 200px;
  width: 100%;
}
.foot_col:last-child {
  max-width: 325px;
  width: 100%;
}
.foot_row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.soc_links{
  max-width: 175px;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
.copy_soc {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
/*footer end*/
#section_banner {
  height: calc(100vh - 123px);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}

.head_portfolio {
  height: 555px;
  background: url(/dist/assets/images/portf_bg.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.head_portfolio h2 {
  font-size: 70px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
}
.hover_portfolio {
  background-color: rgb(255, 88, 35);
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  height: 100%;
}
.single_portfolio:hover .hover_portfolio {
  opacity: 0.769;
}
.single_portfolio {
  width: 50%;
  height: 335px;
  position: relative;
  background-color: #1b2022;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.portfolio_list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -ms-align-items: center;
  align-items: center;
}
.single_portfolio p {
  position: relative;
  z-index: 20;
}
.name_project {
  display: block;
  font-size: 50px;
  margin-bottom: 7px;
}
#portfolio_txt_content {
  padding-top: 60px;
  padding-bottom: 60px;
}
#portfolio_txt_content p {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-bottom: 30px;
}
#portfolio_txt_content span {
  font-size: 16px;
  white-space: pre-line;
  line-height: 20px;
  display: block;
  margin-left: 10px;
  color: #000;
}
#section_banner.single_project_page {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.single_project_page h2 {
  font-size: 55px;
  font-weight: 300;
  font-style: italic;
  color: #fff;
}
#content_singpage_project {
  padding-top: 110px;
}
#content_singpage_project h2 {
  font-size: 70px;
  color: #000;
  text-align: center;
}
.inform_project {
  margin-top: 50px;
  margin-bottom: 115px;
  color: #000;
}
.inform_project p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.inform_project span {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}
.desct_task {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(/dist/assets/images/bg_task.jpg) bottom right no-repeat;
  -webkit-background-size: 170%;
  background-size: 170%;
}
#content_singpage_project .desct_task h2 {
  color: #fff;
}
.solution_block p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.info_solution_block {
  max-width: 470px;
}
#content_singpage_project .solution_block h2 {
  margin-bottom: 40px;
  text-align: left;
}
.solution_block > div{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
#content_singpage_project .solution_block {
  background: url(/dist/assets/images/green_bg.jpg) center no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}
#content_singpage_project .solution_block p,
#content_singpage_project .solution_block span,
#content_singpage_project .solution_block h2 {
  color: #fff;
}
.solution_block span{
  font-weight: 300;
  font-size: 16px;
}
.quote {
  font-size: 55px;
  font-style: italic;
  color: #fff;
  line-height: 1.2;
  white-space: pre-line;
}
.author {
  font-size: 36px;
  color: rgb(154, 154, 154);
  font-style: italic;
  line-height: 1.2;
}
.get {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  border-width: 1px;
  border-color: rgb(57, 181, 74);
  border-style: solid;
  background-color: rgb(129, 188, 21);
  width: 259px;
  height: 44px;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  margin-top: 40px;
}

.resp_container {
  position: relative;
  width: 100%;
  .portfolio_img {
    width: 100%;
  }
}


