.contact {
  background-color: $color-light-blue-grey;
  opacity: 0.9;
  padding-top: 25px;

  &__title {
    color: $color-denim;
    font-size: 4.4rem;
    font-weight: 300;
    letter-spacing: -1.4px;
    margin: 0 0 10px;
    text-align: center;
  }

  &__item {
    padding: 1px;
    text-align: center;
    h2 {
      margin-bottom: 10px;
    }
  }

  //&__form {
  //  display: flex;
  //  flex-direction: column;
  //  margin: 0 auto;
  //  max-width: 572px;
  //}
  //
  //&__form-input {
  //  border-radius: 4px;
  //  border-width: 0;
  //  color: $color-dark-grey;
  //  font-size: 1.125rem;
  //  font-weight: 300;
  //  line-height: 2.4rem;
  //  text-indent: 10px;
  //  /*
  //  transition: box-shadow linear 0.6s;
  //  */
  //}
  //
  //&__form-input:nth-last-child(2) {
  //  resize: none;
  //}
  //
  //&__form-error {
  //  color: #ff4d4d;
  //  font-size: 0.875rem;
  //  height: 18px;
  //  margin: 6px 0;
  //  text-indent: 10px;
  //}
  //
  //&__form-button-wrapper {
  //  margin: 20px auto;
  //}
  //
  //@media only screen and (max-width: 768px) {
  //  &__form {
  //    width: 75%;
  //  }
  //}

  @media only screen and (max-width: 600px) {
    &__title {
      font-size: 3.5rem;
    }
  }

  @media only screen and (max-width: 500px) {
    //&__form {
    //  width: 80%;
    //}

    &__title {
      font-size: 3.2rem;
    }
  }
}
