.contact {
  background-color: $color-light-blue-grey;
  opacity: 0.9;
  padding: 25px 0 20px;

  &__title {
    color: #000;
    font-size: 4.4rem;
    font-weight: 100;
    letter-spacing: -1.4px;
    margin: 0 0 10px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 572px;
  }

  &__form-input {
    border-radius: 4px;
    border-width: 0;
    color: $color-dark-grey;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 2.4rem;
    text-indent: 10px;
    /*
    transition: box-shadow linear 0.6s;
    */
  }

  &__form-input:nth-last-child(2) {
    margin-bottom: 20px;
    resize: none;
  }

  &__form-error {
    color: #ff4d4d;
    font-size: 0.875rem;
    height: 18px;
    margin: 6px 0;
    text-indent: 10px;
  }

  @media only screen and (max-width: 768px) {
    &__form {
      width: 75%;
    }
  }

  @media only screen and (max-width: 500px) {
    &__form {
      width: 80%;
    }

    &__title {
      font-size: 3rem;
    }
  }
}
