.services {
  &__list {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  &__item {
    background-color: $color-white-three;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 30px 55px;
    text-align: center;
    width: 31%;
  }

  &__item-title {
    color: $color-dusk;
    font-size: 1.5rem;
    font-weight: 300;
    height: 80px;
    text-transform: uppercase;
  }

  &__item-icon {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    fill: #1c92c8;
    height: 243px;
    justify-content: center;
    margin: 0 auto 32px;
    transition: 0.5s;
    width: 243px;
  }

  &__item-icon:hover {
   background-color: $color-pea-green;
   fill: #f6f6f6;
  }

  &__item-description {
    color: $color-denim;
    font-size: 1.125rem;
    font-weight: 300;
  }

  @media only screen and (max-width: 1280px) {
    &__item {
      padding: 30px 40px;
    }
  }

  @media only screen and (max-width: 1024px) {
    &__item-title {
      height: auto;
    }

    &__list {
      align-items: center;
      flex-direction: column;
    }

    &__item {
      align-items: center;
      margin-bottom: 40px;
      width: 70%;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__item-icon {
      margin: 12px 0;
    }
  }

  @media only screen and (max-width: 768px) {
    .section__title{
      font-size: 3em;
    }
    &__title {
      margin: 24px 0;
     }

    &__item {
      margin-bottom: 30px;
      width: 75%;
    }

    &__item-icon {
      height: 200px;
      width: 200px;
    }
  }

  @media only screen and (max-width: 600px) {
    &__item {
      margin-bottom: 20px;
      width: 80%;
    }
  }

  @media only screen and (max-width: 500px) {
    &__item {
      margin-bottom: 10px;
      width: 90%;
    }

    &__item-icon {
      height: 175px;
      width: 175px;
    }
  }
}
