.solutions {

  &__wrapper {
    display: flex;
    margin-bottom: 80px;
    padding-top: 30px;
  }

  &__icon {
    background: url('/dist/assets/images/imacLanding.jpg') right/100% auto no-repeat;
    width: 45%;
  }

  &__list {
    margin-left: 11%;
    max-width: 37%;
    padding: 9% 0 0;
  }

  &__list-item {
    display: flex;
    flex-direction: column;
  }

  &__list-title {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.4px;
    line-height: 3.2;
  }

  &__list-description {
    color: #000;
    font-weight: 300;
    letter-spacing: -0.3px;
    line-height: 1.36rem;
  }

  @media only screen and (max-width: 1024px) {
    &__icon {
      margin: 0 2.5%;
    }

    &__list {
      margin: 3% auto;
      max-width: 35%;
    }
  }

  @media only screen and (max-width: 768px) {
    .section__title{
      font-size: 3em;
      }
    &__title {
      margin: 80px 0 20px;
    }

    &__wrapper {
      align-items: center;
      flex-direction: column;
    }

    &__icon {
      background-position: center;
      background-size: 100%;
      padding-bottom: 80%;
      width: 80%;
    }

    &__list {
      margin: 3% auto;
      max-width: 75%;
    }
  }

  @media only screen and (max-width: 600px) {
    &__title {
      font-size: 3.5rem;
    }
  }

  @media only screen and (max-width: 500px) {
    &__title {
      font-size: 3.2rem;
    }
  }

  @media only screen and (max-width: 425px) {
    &__title {
      font-size: 3rem;
      margin: 60px 0 20px;
    }
  }
}
