.header {
  &__block {
    height: 142px;
  }

  &__wrapper {
    display: flex;
    margin: 35px auto;
  }

  &__wrapper::after {
    content: '';
    flex: 1;
    padding: 0 70px;
    visibility: hidden;
  }

  &__logo {
    flex: 1;
    padding: 0 70px;
  }

  &__bar-button {
    display: none;
  }

  @media only screen and (max-width: 1024px) {
    &__wrapper {
      justify-content: space-between;
      padding: 0 20px;
    }

    &__wrapper::after {
      display: none;
    }

    &__logo {
     padding: 0;
    }

    &__bar-button {
      display: inline-block;
    }
  }
}
