.header {
  &__block {
    height: 101px;
  }

  &__wrapper {
    display: flex;
    margin: 15px auto;
  }

  &__wrapper::after {
    content: '';
    flex: 1;
    padding: 0 70px;
    visibility: hidden;
  }

  &__logo {
    flex: 1;
    padding: 0 70px;
  }

  &__logo-link {
    display: inline-block;
  }

  &__bar-button {
    display: none;
  }

  &__aside {
    display: none;
  }

  @media only screen and (max-width: 768px) {
    &__wrapper {
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
    }

    &__wrapper::after {
      display: none;
    }

    &__logo {
      padding: 0;
    }

    &__bar-button {
      background-color: #fff;
      border: 0;
      border-radius: 3px;
      color: $color-water-blue;
      display: inline-block;
      height: 50px;
      outline: none;
    }

    &__bar-button:hover {
      background-color: $color-white-two;
    }

    &__aside {
      background-color: #fff;
      box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
      display: block;
      font-size: 1.2rem;
      height: 100%;
      opacity: 0.9;
      position: fixed;
      right: -31%;
      top: 0;
      transition: right 0.5s ease-out;
      width: 30%;
      z-index: 10;

      &--open {
        right: 0;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    &__aside {
      right: -50%;
      width: 50%;
    }
  }
}
