.landing-green-btn {
  background-color: $color-pea-green;
  border: solid 1px #39b54a;
  border-radius: 23px;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  letter-spacing: -0.3px;
  margin: 13px auto 40px;
  padding: 12px 0;
  text-align: center;
  text-transform: uppercase;
  width: 260px;
}
