.container {
  margin: 0 auto;
  max-width: 1170px;
}

.wrapper-fixed {
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


*:focus {
  box-shadow: 0 0 6px darken($color-light-blue-grey, 20%);
  outline: 1px solid darken($color-light-blue-grey, 7%) !important;

}

input:focus,
textarea:focus {
  border: 1px solid darken($color-light-blue-grey, 7%) !important;
  box-shadow: 0 0 6px darken($color-light-blue-grey, 20%);
  outline: none !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}