// Fonts

$ff-main: 'Lato';

//Colors

$color-light-blue-grey: #c6deeb;
$color-white-three: #f9f9f9;
$color-white-two: #dadada;
$color-pea-green: #81bc15;
$color-denim-blue: #3a55a5;
$color-denim: #386c91;
$color-black: #010101;
$color-water-blue: #1c92c8;
$color-greyish: #b4b4b4;
$color-dusk: #4f5075;
$color-white: #f6f6f6;
$color-purple-brown: #391c1d;
$color-navy: #062033;
$color-dark-grey: #222323;
$color-black-80: rgba(6, 6, 6, 0.8);
$color-dark-sky-blue: #219ed6;
